<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Gestionar Peticions</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" 
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
   <h1>Llista de Peticions</h1>
   <table class="table table-striped">
       <thead>
       <tr>
           <th>Id</th>
           <th>Tipus de servici</th>
           <th>Data de creació</th>
           <th>Estat</th>
           <th>Data d'aprovació</th>
           <th>Data de rebuig</th>
           <th>Data de finalització</th>
           <th>DNI persona major</th>
           <th>Id del contracte</th>      
       </tr>
       </thead>
       <tbody>
       <tr th:each="request: ${requests}"> 
           <td th:text="${request.idNumber}"></td>
           <td th:text="${request.serviceType}"></td>
           <td th:text="${request.creationDate}"></td>
           <td th:text="${request.state}"></td>
           <td th:text="${request.aprovedDate}"></td>
           <td th:text="${request.rejectedDate}"></td>
           <td th:text="${request.finishDate}"></td>
           <td th:text="${request.dni_elderly}"></td>
           <td th:text="${request.idNumber_contract}"></td>
           <td> <a th:href="@{/request/update/{idNumber}(idNumber=${request.idNumber})}" class="btn btn-warning" role="button">Edita</a></td>
           <td><a th:href="@{/request/delete/{idNumber}(idNumber=${request.idNumber})}" class="btn btn-danger" role="button">Esborra</a></td>
       </tr>
       </tbody>
   </table>
   <a href="add" class="btn btn-success" role="button">Afegeix Request</a>
</div>
</body>
</html>