<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/journal/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/elderly/acompanyament.css"
          th:href="@{/css/elderly/acompanyament.css}"/>
    <title>Majors a casa</title>
</head>

<body>
<header>
    <div class="loggeduser" th:object="${session}">
        <div class="boton_atras"><a th:href="@{/socialworker/home}" class="btn btn-primary">PÀGINA PRINCIPAL</a>
        </div>
        <p th:if="*{socialworker.name == null}">
            No autentificat &nbsp;<a href="/login" th:href="@{/login}">ACCEDIR</a>
        </p>
        <p th:unless="*{socialworker.name == null}">
            Accedeixes com a&nbsp;<span th:text="*{socialworker.name}"></span>
            <a href="/logout" th:href="@{/logout}">EIXIR</a>
        </p>
    </div>
    <div class="bienvenida" th:object="${session}"><h1>Administració de Companyies</h1></div>
</header>
<main class="main_menuElderly" th:object="${session}">
    <div class="text">LLISTAT DE COMPANYIES ACCEPTADES :</div>
    <div class="nom_dades">
        <div class="nom_dada1">CIF</div>
        <div class="nom_dada2">NOM</div>
        <div class="nom_dada2">DIRECCIÓ</div>
        <div class="nom_dada3">NOM DE CONTACTE</div>
        <div class="nom_dada2">TELÉFON DE CONTACTE</div>
        <div class="nom_dada2">EMAIL DE CONTACTE</div>
        <div class="nom_dada2">TIPUS DE SERVICI</div>
    </div>
    <div class="bucle1" th:each="company : ${companies}">
        <div class="dades_boto">
            <div class="availability_volunteer">
                <div class="primera_dada" th:text="${company.cif}"></div>
                <div class="dada" th:text="${company.name}"></div>
                <div class="dada" th:text="${company.address}"></div>
                <div class="dada" th:text="${company.contactName}"></div>
                <div class="dada" th:text="${company.contactPhoneNumber}"></div>
                <div class="ultima_dada" th:text="${company.serviceType}"></div>
            </div>
        </div>
    </div>
    </div>
    </div>
</main>


<aside class="main_major_add" th:object="${session}">
    <div class="text">ANYADIR COMPANYIES :</div>
    <form action="#" th:action="@{/company/afegirCompany} " th:object="${companyy}"
          method="post">
        <div class="pack_camp_form">
            <div class="nom_dades">CIF:</div>
            <div>
                <input class="form-control" maxlength="9" required type="text"
                       th:field="*{cif}"/>
                <div th:if="${#fields.hasErrors('cif')}" th:errors="*{cif}"></div>
            </div>
        </div>

        <div class="pack_camp_form">
            <div class="nom_dades">NOM:</div>
            <div>
                <input class="form-control" type="text" required maxlength="50"
                       th:field="*{name}"/>
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>
        </div>

        <div class="pack_camp_form">
            <div class="nom_dades">CONTRASENYA:</div>
            <div>
                <input class="form-control" type="password" required maxlength="50"
                       th:field="*{pwd}"/>
                <div th:if="${#fields.hasErrors('pwd')}"
                     th:errors="*{pwd}"></div>
            </div>
        </div>

        <div class="pack_camp_form">
            <div class="nom_dades">ADREÇA:</div>
            <div>
                <input class="form-control" type="text" required maxlength="50"
                       th:field="*{address}"/>
                <div th:if="${#fields.hasErrors('address')}"
                     th:errors="*{address}"></div>
            </div>
        </div>

        <div class="pack_camp_form">
            <div class="nom_dades">NOM DE CONTACTE:</div>
            <div>
                <input class="form-control" maxlength="50" required type="text"
                       th:field="*{contactName}"/>
                <div th:if="${#fields.hasErrors('contactName')}"
                     th:errors="*{contactName}"></div>
            </div>
        </div>

        <div class="pack_camp_form">
            <div class="nom_dades">TELEFON DE CONTACTE:</div>
            <div>
                <input class="form-control" required
                       maxlength="9" type="text" th:field="*{contactPhoneNumber}"/>
                <div th:if="${#fields.hasErrors('contactPhoneNumber')}"
                     th:errors="*{contactPhoneNumber}"></div>
            </div>
        </div>

        <div class="pack_camp_form">
            <div class="nom_dades">E-MAIL DE CONTACTE:</div>
            <div>
                <input class="form-control" type="text" required
                       th:field="*{contactEmail}"/>
                <div th:if="${#fields.hasErrors('contactEmail')}" th:errors="*{contactEmail}"></div>
            </div>
        </div>

        <div class="pack_camp_form">
            <div class="nom_dades">TIPUS DE SERVICI:</div>
            <div class="sel">
                <select class="form-control" th:field="*{serviceType}">
                    <option value="Neteja">NETEJA</option>
                    <option value="Menjar a domicili">MENJAR A DOMICILI</option>
                    <option value="Servei sanitari">SERVEI SANITARI</option>
                </select>
            </div>
        </div>
        <div class="boton">
            <input type="submit" class="btn btn-primary" value="REGISTRAR COMPANYIA"/>
        </div>
    </form>
</aside>
<footer>
    Majors a Casa - 2020
</footer>
</div>
</body>

</html>