* { margin: 0; padding: 0; }

.contenedor {
  background: #dcdcdc;
  min-height: 100vh;
  width: 100%;
  margin:auto;

  /* Flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header {
  background: #dcdcdc;
  width: 100%;
  
    /* Flexbox */
  display: flex;
  flex-direction: column;

}

.loggeduser{
	width: 100%;
	font-size: 15px;
	  /* Flexbox */
	display: flex;
	justify-content:space-between;
	align-content:center;
}

.boton_atras{
	  padding:5px;
}

.pack_header{
	width: 100%;
	font-size: 15px;
		  /* Flexbox */
	display: flex;
	 flex-direction: row;
	 justify-content:space-between;
}

h1{
	width: 100%;
	font-weight:bold;
	font-size: 60px;
	font-family: sans-serif;
	height:100px;
	
	/* Flexbox */
	display: flex;
	justify-content:center;
	align-items:center;
}

.main_menuElderly{
  background: #dcdcdc;
  width:100%;
  /* Flexbox */
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-content:flex-start;
}

.nom{
	text-decoration: underline #EB6864;
}

.nom_dades{
	padding:10px;
/* Flexbox */
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-content: center;
}


.bucle1{
  width:100%;
  /* Flexbox */
  display: flex;
}

.dades_boto{
  width:100%;
  /* Flexbox */
  display: flex;
}

.availability_volunteer{
  width:100%;
  padding:5px;
  /* Flexbox */
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-content: center;
}

.primera_dada{
	border-radius: 25px 0px 0px 25px;
	background: #fff;
	width: 150px;
	text-align:center;
}

.dada_petita{
	border-radius: 0 0px 0px 0;
	background: #fff;
	width: 150px;
	text-align:center;
}

.dada_llarga{
	border-radius: 0 0px 0px 0;
	background: #fff;
	width: 300px;
	text-align:center;
}

.ultima_dada{
	border-radius: 0 25px 25px 0px;
	background: #fff;
	width: 150px;
	text-align:center;
}


.nom_dada_petita{
	width: 150px;
	text-align:center;
	font-weight:bold;
	text-decoration: underline #EB6864;
}

.nom_dada_llarga{
	width: 300px;
	text-align:center;
	font-weight:bold;
	text-decoration: underline #EB6864;
}

.serveis{
  width:100%;
  /* Flexbox */
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-content: center;
}

.bucle{
  width:100%;
	  /* Flexbox */
  display: flex;
  flex-direction:column;
}

.dada{
	  width:100%;
	  /* Flexbox */
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-content: center;
}

.pack_bucle{
  width:100%;
  padding:10px;
	  /* Flexbox */
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-content: center;
}

.pack_botons{
  width:100%;
  display: flex;
  justify-content: center;
  align-items:center;
}

.boto{
	width: 100%;
	width: 150px;
	/* Flexbox */
  display: flex;
  justify-content: center;
  align-items:center;
}

.pack_nom_dades{
  width:100%;
	  /* Flexbox */
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-content: center;
}

.dades_botons{
   width:100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-content: center;
}
.btn{
	font-family: sans-serif;
}

.text{
	font-weight:bold;
	font-family: sans-serif;
	text-align:center;
	text-decoration: underline #4d4d4d;
}

h2{
	font-family: sans-serif;
	text-align:center;
	font-weight:bold;
	text-decoration: underline #4d4d4d;
}

body {
  font-size: x-large;
  font-family: sans-serif;
  color: #4d4d4d;
}

footer {
  background: #c0c0c0;
  color: white;
  width: 100%;
  font-size: 12px;

  align-self: flex-end;
  text-align: center;
}