<html xmlns:th="http://www.thymeleaf.org"> 
<head>
  <meta charset="UTF8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/journal/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/company/ajuda.css"
	th:href="@{/css/company/ajuda.css}"/>
	<title>Majors a casa</title>
</head>

<body>
  <div class="contenedor">
    <header>
	    	
	    	<div class="loggeduser" th:object="${session}">
	    		<div class="boton_atras"><a th:href="@{/company/home}" class="btn btn-primary">PÀGINA PRINCIPAL</a></div>
				<p th:if="*{company.name == null}">
					No autentificat &nbsp;<a href="/login" th:href="@{/login}">ACCEDIR</a>
				</p>
				<p th:unless="*{company.name == null}">
					Accedeixes com a&nbsp;<span th:text="*{company.name}"></span> &nbsp;
					<a href="/logout" th:href="@{/logout}">EIXIR</a>
				</p>
			</div>
		<div class="bienvenida" th:object="${session}"><h1>Hola &nbsp;<span class="nom" th:text="*{company.name}"></span> necessites ajuda? </h1></div>
    </header>
    <main class="main_ajuda">
		<div class="text_ajuda">
			Si necessites ajuda pots cridar al teléfon:<br>
			96XXXXXXX<br><br>
			També pots posar-te en contacte amb nosaltres al seguent correu:<br>
			ei1027@majorsacasa.es
		</div>
    </main>
      <footer>
		Majors a Casa - 2020
		</footer>
    </div>
      </body>
</html>