<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Gestionar Companyies</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" 
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
   <h1>Llista de Companyies</h1>
   <table class="table table-striped">
       <thead>
       <tr>
           <th>Nom</th>
           <th>CIF</th>
           <th>Direcció</th>
           <th>Nom de contacte</th>
           <th>Teléfon de contacte</th>
           <th>Email de Contacte</th>
           <th>Tipus de Servici</th>
       </tr>
       </thead>
       <tbody>
       <tr th:each="company: ${companies}">
           <td th:text="${company.nom}"></td>
           <td th:text="${company.CIF}"></td>
           <td th:text="${company.address}"></td>
           <td th:text="${company.contactName}"></td>
           <td th:number="${company.contactPhoneNumber}"></td>
           <td th:text="${company.contactEmail}"></td>
           <td th:text="${company.serviceType}"></td>

           <td> <a th:href="@{/company/update/{CIF}(CIF=${company.CIF})}" class="btn btn-warning" role="button">Edita</a></td>
           <td> <a th:href="@{/company/delete/{CIF}(CIF=${company.CIF})}" class="btn btn-danger" role="button">Esborra</a></td>
       </tr>
       </tbody>
   </table>
   <a href="add" class="btn btn-success" role="button">Afegeix Comanyia</a>
</div>
</body>
</html>