<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/journal/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/add.css"
		th:href="@{/css/add.css}" />
	<title>Majors a casa</title>
</head>
<body>
	<div class="contenedor">
		<header>
			<h1>NOU REGISTRE</h1>
		</header>
		<main class="main_major_add">
			<form action="#" th:action="@{/elderly/add} " th:object="${elderly}"
				method="post">
				<div class="pack_camp_form">
					<div class="nom_dades">DNI:</div>
					<div>
						<input class="form-control" maxlength="9" required type="text"
							th:field="*{dni}" />
						<div class="error_dato" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></div>
					</div>
				</div>

				<div class="pack_camp_form">
					<div class="nom_dades">NOM:</div>
					<div>
						<input class="form-control" type="text" required maxlength="50"
							th:field="*{name}" />
						<div class="error_dato" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
					</div>
				</div>

				<div class="pack_camp_form">
					<div class="nom_dades">COGNOM:</div>
					<div>
						<input class="form-control" type="text" required maxlength="50"
							th:field="*{surname}" />
						<div class="error_dato" th:if="${#fields.hasErrors('surname')}"
							th:errors="*{surname}"></div>
					</div>
				</div>

				<div class="pack_camp_form">
					<div class="nom_dades">ADREÇA:</div>
					<div>
						<input class="form-control" type="text" required maxlength="50"
							th:field="*{address}" />
						<div class="error_dato" th:if="${#fields.hasErrors('address')}"
							th:errors="*{address}"></div>
					</div>
				</div>

				<div class="pack_camp_form">
					<div class="nom_dades">COMPTE CORRENT:</div>
					<div>
						<input class="form-control" maxlength="19" required type="text"
							th:field="*{bankAccountNumber}" />
						<div class="error_dato" th:if="${#fields.hasErrors('bankAccountNumber')}"
							th:errors="*{bankAccountNumber}"></div>
					</div>
				</div>

				<div class="pack_camp_form">
					<div class="nom_dades">CONTRASENYA:</div>
					<div>
						<input class="form-control" type="password" required
							maxlength="20" th:field="*{userpwd}" />
						<div class="error_dato" th:if="${#fields.hasErrors('userpwd')}"
							th:errors="*{userpwd}"></div>
					</div>
				</div>

				<div class="pack_camp_form">
					<div class="nom_dades">E-MAIL:</div>
					<div>
						<input class="form-control" type="email" required
							th:field="*{email}" />
						<div class="error_dato" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
					</div>
				</div>

				<div class="pack_camp_form">
					<div class="nom_dades">TELÉFON:</div>
					<div>
						<input class="form-control" type="text" required maxlength="9"
							th:field="*{phoneNumber}" />
						<div class="error_dato" th:if="${#fields.hasErrors('phoneNumber')}"
							th:errors="*{phoneNumber}"></div>
					</div>
				</div>

				<div class="pack_camp_form">
					<div class="nom_dades">DATA DE NAIXEMENT:</div>
					<div>
						<input class="form-control" type="date" required
							th:field="*{birthDate}" />
						<div class="error_dato" th:if="${#fields.hasErrors('birthDate')}"
							th:errors="*{birthDate}"></div>
					</div>
				</div>

				<div class="pack_camp_form">
					<div class="nom_dades">ALÉRGIES:</div>
					<div>
						<input class="form-control" type="text" maxlength="200"
							th:field="*{alergies}" />
					</div>
				</div>

				<div class="pack_camp_form">
					<div class="nom_dades">MALALTIES:</div>
					<div>
						<input class="form-control" type="text" maxlength="200"
							th:field="*{diseases}" />
					</div>
				</div>

				<div class="boton">
					<input type="submit" class="btn btn-primary" value="REGISTRAR-ME" />
				</div>
			</form>
		</main>

		<aside class="text">
			<div class="text_majors">
				Si necessites ajuda per a registrar-te pots cridar al teléfon:<br>
				96XXXXXXX<br>
				<br> També pots posar-te en contacte amb nosaltres al seguent
				correu:<br> ei1027@majorsacasa.es
			</div>
		</aside>
		<footer> Majors a Casa - 2020 </footer>
	</div>
</body>
</html>