<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/journal/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/updateUsuarios.css"
	th:href="@{/css/updateUsuarios.css}" />
<title>Majors a casa</title>
</head>
<body>
	<div class="contenedor">
	    <header>
	    	<div class="loggeduser" th:object="${session}">
	    		<div class="boton_atras"><a th:href="@{/elderly/home}" class="btn btn-primary">PÀGINA PRINCIPAL</a></div>
				<p th:if="*{elderly.name == null}">
					No autentificat &nbsp;<a href="/login" th:href="@{/login}">ACCEDIR</a>
				</p>
				<p th:unless="*{elderly.name == null}">
					Accedeixes com a&nbsp;<span th:text="*{elderly.name}"></span> &nbsp;
					<a href="/logout" th:href="@{/logout}">EIXIR</a>
				</p>
			</div>
			<div class="bienvenida" th:object="${session}"><h1>Editant perfil de&nbsp;<span class="nom" th:text="*{elderly.name}"></span>&nbsp;<span class="nom" th:text="*{elderly.surname}">, estàs editant les teues dades</span></h1></div>
	    </header>
		<main class="main_major_add">
			<form action="#" th:action="@{/elderly/updateElderly} " th:object="${elderly}" method="post">
				<div class="pack_camp_form">
					<div class="nom_dades">DNI:</div>
					<div>
						<input class="form-control" maxlength="9" required type="text"
							th:field="*{dni}" />
						<div th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></div>
					</div>
				</div>

				<div class="pack_camp_form">
					<div class="nom_dades">NOM:</div>
					<div>
						<input class="form-control" type="text" required maxlength="50"
							th:field="*{name}" />
						<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
					</div>
				</div>

				<div class="pack_camp_form">
					<div class="nom_dades">COGNOM:</div>
					<div>
						<input class="form-control" type="text" required maxlength="50"
							th:field="*{surname}" />
						<div th:if="${#fields.hasErrors('surname')}"
							th:errors="*{surname}"></div>
					</div>
				</div>

				<div class="pack_camp_form">
					<div class="nom_dades">ADREÇA:</div>
					<div>
						<input class="form-control" type="text" required maxlength="50"
							th:field="*{address}" />
						<div th:if="${#fields.hasErrors('address')}"
							th:errors="*{address}"></div>
					</div>
				</div>

				<div class="pack_camp_form">
					<div class="nom_dades">COMPTE CORRENT:</div>
					<div>
						<input class="form-control" maxlength="19" required type="text"
							th:field="*{bankAccountNumber}" />
						<div th:if="${#fields.hasErrors('bankAccountNumber')}"
							th:errors="*{bankAccountNumber}"></div>
					</div>
				</div>

				<div class="pack_camp_form">
					<div class="nom_dades">CONTRASENYA:</div>
					<div>
						<input class="form-control" type="password" required
							maxlength="20" th:field="*{userpwd}" />
						<div th:if="${#fields.hasErrors('userpwd')}"
							th:errors="*{userpwd}"></div>
					</div>
				</div>

				<div class="pack_camp_form">
					<div class="nom_dades">E-MAIL:</div>
					<div>
						<input class="form-control" type="email" required
							th:field="*{email}" />
						<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
					</div>
				</div>

				<div class="pack_camp_form">
					<div class="nom_dades">TELÉFON:</div>
					<div>
						<input class="form-control" type="text" required maxlength="9"
							th:field="*{phoneNumber}" />
						<div th:if="${#fields.hasErrors('phoneNumber')}"
							th:errors="*{phoneNumber}"></div>
					</div>
				</div>

				<div class="pack_camp_form">
					<div class="nom_dades">DATA DE NAIXEMENT:</div>
					<div>
						<input class="form-control" type="date" required
							th:field="*{birthDate}" />
						<div th:if="${#fields.hasErrors('birthDate')}"
							th:errors="*{birthDate}"></div>
					</div>
				</div>

				<div class="pack_camp_form">
					<div class="nom_dades">ALÉRGIES:</div>
					<div>
						<input class="form-control" type="text" maxlength="200"
							th:field="*{alergies}" />
					</div>
				</div>

				<div class="pack_camp_form">
					<div class="nom_dades">MALALTIES:</div>
					<div>
						<input class="form-control" type="text" maxlength="200"
							th:field="*{diseases}" />
					</div>
				</div>

				<div class="boton">
					<input type="submit" class="btn btn-primary" value="ACCEPTAR" />
				</div>
			</form>
		</main>
		<footer> Majors a Casa - 2020 </footer>
	</div>
</body>
</html>