<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear nou voluntari</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h2>Nou Voluntari</h2>
    <form class="form-horizontal" action="#" th:action="@{/volunteer/add}"
          th:object="${volunteer}" method="post">
        <div class="form-group row">
            <label class="control-label col-sm-2" for="name">Nom:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="name" th:field="*{name}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="dni">DNI:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="dni" th:field="*{dni}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="pwd">Contrasenya:</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="pwd" th:field="*{pwd}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="phoneNumber">Numero de telefon:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="email" th:field="*{email}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="hobbies">Hobbies:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="hobbies" th:field="*{hobbies}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="applicationDate">Data de solicitud:</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="applicationDate" th:field="*{applicationDate}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="acceptationDate">Data d'alta:</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="acceptationDate" th:field="*{acceptationDate}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="finishDate">Data de baixa:</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="finishDate" th:field="*{finishDate}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="accepted">En Actiu:</label>
            <div class="col-sm-4">
                <input type="checkbox" class="form-control" id="accepted" th:field="*{accepted}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="birthDate">Data de naixement:</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="birthDate" th:field="*{birthDate}"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <a href="list">
                    <button type="submit" class="btn btn-primary">Afegeix Voluntari</button>
                </a>
            </div>
        </div>

    </form>
</div>
</body>
</html>