<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/journal/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/volunteer/horaris.css"
          th:href="@{/css/volunteer/horaris.css}"/>
    <title>Majors a casa</title>
</head>

<body>
<div class="contenedor">
    <header>
        <div class="loggeduser" th:object="${session}">
            <div class="boton_atras"><a th:href="@{/volunteer/home}" class="btn btn-primary">PÀGINA PRINCIPAL</a></div>
            <p th:if="*{volunteer.name == null}">
                No autentificat &nbsp;<a href="/login" th:href="@{/login}">ACCEDIR</a>
            </p>
            <p th:unless="*{volunteer.name == null}">
                Accedeixes com a&nbsp;<span th:text="*{volunteer.name}"></span> &nbsp;
                <a href="/logout" th:href="@{/logout}">EIXIR</a>
            </p>
        </div>
    </header>

    <main class="main_acompanyament" th:object="${session}">
        <div class ="text">LLISTAT D'HORARIS OFERITS:</div>
        <div class="bucle" th:each="horari : ${availabilities}">
            <div class="primerIf" th:if="${horari.dni_volunteer} == *{volunteer.dni}">
                <div class="pack_nom_dades"><div class="nom_dada1">DATA</div><div class="nom_dada2">INICI</div><div class="nom_dada3">FI</div><div class="nom_dada3">ESTAT</div></div>
                <div class="pack_dades"><div class="primera_dada" th:text="${horaris.fecha}"></div><div class="dada" th:text="${horari.beginingHour}"></div><div class="dada" th:text="${horari.endingHour}"></div><div class="ultima_dada" th:text="${horari.stateAvailability}"></div></div>
            </div>
        </div>
    </main>

    <footer>
        Majors a Casa - 2020
    </footer>
</div>
</body>

</html>