<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Gestionar Voluntari</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" 
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
   <h1>Llista de Voluntaris</h1>
   <table class="table table-striped">
       <thead>
       <tr>
           <th>Nom</th>
           <th>DNI</th>
           <th>Numero de telefon</th>
           <th>Email</th>
           <th>Hobbies</th>
           <th>Fecha de la peticio</th>
           <th>Data d'alta</th>
           <th>Data de baixa</th>
           <th>En actiu</th>
           <th>Data de naixement</th>
           <th></th>
           <th></th>
       </tr>
       </thead>
       <tbody>
       <tr th:each="volunteer: ${volunteers}">
           <td th:text="${volunteer.name}"></td>
           <td th:text="${volunteer.dni}"></td>
           <td th:text="${volunteer.phoneNumber}"></td>
           <td th:text="${volunteer.email}"></td>
           <td th:text="${volunteer.hobbies}"></td>
           <td th:text="${volunteer.applicationDate}"></td>
           <td th:text="${volunteer.acceptationDate}"></td>
           <td th:text="${volunteer.finishDate}"></td>
           <td th:text="${volunteer.accepted}"></td>
           <td th:text="${volunteer.birthDate}"></td>
           <td> <a th:href="@{/volunteer/update/{dni}(dni=${volunteer.dni})}" class="btn btn-warning" role="button">Edita</a></td>
           <td><a th:href="@{/volunteer/delete/{dni}(dni=${volunteer.dni})}" class="btn btn-danger" role="button">Esborra</a></td>
       </tr>
       </tbody>
   </table>
   <a href="add" class="btn btn-success" role="button">Afegeix Voluntari</a>
</div>
</body>
</html>