<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/journal/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/volunteer/profileVolunteer.css"
	th:href="@{/css/volunteer/profileVolunteer.css}"/>
	<title>Majors a casa</title>
</head>

<body>
	<div class="contenedor">
	    <header>
			<div class="loggeduser" th:object="${session}">
	    		<div class="boton_atras"><a th:href="@{/volunteer/home}" class="btn btn-primary">PÀGINA PRINCIPAL</a></div>
				<p th:if="*{volunteer.name == null}">
					No autentificat &nbsp;<a href="/login" th:href="@{/login}">ACCEDIR</a>
				</p>
				<p th:unless="*{volunteer.name == null}">
					Accedeixes com a&nbsp;<span th:text="*{volunteer.name}"></span> &nbsp;
					<a href="/logout" th:href="@{/logout}">EIXIR</a>
				</p>
			</div>
			<div class="bienvenida" th:object="${session}"><h1>Perfil de &nbsp;<span class="nom" th:text="*{volunteer.name}"></span> </h1></div>
	    </header>
		   <main class="main_perfil" th:object="${session}">
				   <div class="text">DADES PERSONALS:</div>
				   <div class="pack_camp_form">
				   		<div class="nom_dades">DNI:</div>
				   		<div class="dada" th:text="*{volunteer.dni}"></div>
				   </div>
				   <div class="pack_camp_form">
				   		<div class="nom_dades">NOM:</div>
				   		<div class="dada" th:text="*{volunteer.name}"></div>
				   </div>
				   <div class="pack_camp_form">
					   <div class="nom_dades">CONTRASENYA:</div>
					   <div class="dada" th:text="*{volunteer.pwd}"></div>
				   </div>
				   <div class="pack_camp_form">
					   <div class="nom_dades">E-MAIL:</div>
					   <div class="dada" th:text="*{volunteer.email}"></div>
				   </div>
				   <div class="pack_camp_form">
					   <div class="nom_dades">TELÉFON:</div>
					   <div class="dada" th:text="*{volunteer.phoneNumber}"></div>
				   </div>
				   <div class="pack_camp_form">
					   <div class="nom_dades">DATA DE NAIXEMENT:</div>
					   <div class="dada" th:text="*{volunteer.birthDate}"></div>
				   </div>
					   <div class="pack_camp_form"><div class="nom_dades">HOBBIES:</div>
					   <div class="dada" th:text="*{volunteer.hobbies}"></div>
				   </div>

				   <form action="#" th:action="@{/volunteer/updateVolunteer}">
	        			  <div class="boto"><input type="submit" value="EDITAR" class="btn btn-primary" /></div>
	        	   </form>

		 </main>

		<footer>
			Majors a Casa - 2020
		</footer>
	</div>
</body>

</html>