<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Edita Persona Major</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
    <h2>Edita Voluntari</h2>
    <form action="#" th:action="@{/volunteer/update}"
                     th:object="${volunteer}" method="post">
        <table class="table table-striped">
            <tr>
                <td><label>Nom</label></td>
                <td><input type="text" th:field="*{nom}" /></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
            </tr>
            <tr>
                <td><label>DNI</label></td>
                <td><input type="text" style="background-color:#D3D3D3" readonly="readonly" th:field="*{dni}" /></td>

            </tr>
            <tr>
                <td><label>Contrasenya</label></td>
                <td><input type="password" th:field="*{pwd}" /></td>
                <td th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}"></td>
            </tr>
            <tr>
                <td><label>Numero de telefon</label></td>
                <td><input type="text" th:field="*{phoneNumber}" /></td>
                <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></td>
            </tr>
            <tr>
                <td><label>Email</label></td>
                <td><input type="email" th:field="*{email}" /></td>
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
            </tr>
            <tr>
                <td><label>Hobbies</label></td>
                <td><input type="text" th:field="*{hobbies}" /></td>
            </tr>
            <tr>
                <td><label>Fecha d'alta</label></td>
                <td><input type="date" th:field="*{applicationDate}" /></td>
            </tr>
            <tr>
                <td><label>Fecha de acceptacio</label></td>
                <td><input type="date" th:field="*{acceptationDate}" /></td>
            </tr>
            <tr>
                <td><label>Fecha de baja</label></td>
                <td><input type="date" th:field="*{finishDate}" /></td>
            </tr>
            <tr>
                <td><label>En Activo</label></td>
                <td><input type="checkbox" th:field="*{accepted}" /></td>
            </tr>
            <tr>
                <td><label>Fecha de nacimiento</label></td>
                <td><input type="date" th:field="*{birthDate}"  /></td>
                <td th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Edita Voluntari" /></td>
        </tr>
      </table>
    </form>
</body>
</html>